.About {

      width: 60vw;

      margin-bottom: 40vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      

      
      color: rgb(255, 255, 255);
      font-size: 1.7em;

      text-align: center;
}