.App {
      min-height: 100vh;
      width:auto;

/* I dont know what overflow does but it makes it work */
      overflow: hidden;


      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      font-family: 'Molengo', sans-serif;
      background-image: url("../images/clouds.png");
      background-repeat: no-repeat;
      background-size:     cover;

      z-index: -2;
}