.Contact {
      width: 30vw;

      margin-bottom: 35vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      

      
      color: rgb(255, 255, 255);
      font-size: 1.7em;

      
}

.Contact_phone {
      text-decoration: underline;
}

.Contact_number {
      margin-bottom: 5vh;
}

.Contact_email {
      text-decoration: underline;
}

.Contact_gmail {
      margin-bottom: 5vh;
}

.Contact_links {
      width: 20vw;
      height: 10vh;
}

.Contact_linkedin_link {
      width: 3vw;
      height: 5vh;

      margin-bottom: 5vh;


      background-image: url("../images/linkedin_logo.png");
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;

      border-radius: 10%;
}

.Contact_github_link {
      width: 3vw;
      height: 5vh;

      background-image: url("../images/github_logo.png");
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;

      border-radius: 10%;
}


.Contact{
      animation-duration: 2s;
      animation-name: fadeIn;
}

    
@keyframes fadeIn {
      from {
            opacity: 0;
      }
    
      to {
            opacity: 1;
      }
}