.Header {

      height: 10vh;
      width: 100vw;

      margin-top: 5vh;

      display: flex;
      justify-content: space-around;
      align-items: center;
}

.Header_pic {
      height: 50px;
      width: 50px;
      background-image: url('../images/me.png');
}

.Header_title {
      font-size: 3em;
      text-decoration: none;
      color: rgb(255, 255, 255);
}

.Header_links {
      display: flex;
}

.Header_link{
      font-size: 1.5em;
      margin-right: 40%;

      text-decoration: none;
      color: rgb(255, 255, 255);
}