.Header {

      height: 10vh;
      width: 90vw;

      margin-top: 7vh;

      display: flex;
      justify-content: space-around;
      align-items: center;
}
.Header_me {

      width: 30%;

      display: flex;
      align-items: center;
      margin-top: 3%;
}

.Header_pic {
      width: 150px;
      height: 190px;
      
      margin-right: 3%;

      background-image: url('../images/me.jpg');
      background-repeat: no-repeat;
      background-size:cover;

      border-radius: 100%;
      border-color: rgb(255, 255, 255);
      border-width: 5px;
      border-style: solid;

}

.Header_title {
      font-size: 3em;
      text-decoration: none;
      color: rgb(255, 255, 255);
}

.Header_links {
      width: 20%;
      display: flex;
}

.Header_link{
      font-size: 1.5em;
      margin-right: 40%;

      text-decoration: none;
      color: rgb(255, 255, 255);
}




.Header_title:hover{
      font-size: 3.5em;
      animation-duration: 0.3s;
      animation-name: titleTextGrow;
}
@keyframes titleTextGrow {
      from {
            font-size: 3em;
      }
    
      to {
            font-size: 3.5em;
      }
}

.Header_link:hover{
      font-size: 2em;
      animation-duration: 0.3s;
      animation-name: textGrow;
}

    
@keyframes textGrow {
      from {
            font-size: 1.5em;
      }
    
      to {
            font-size: 2em;
      }
}

