.Header {

      height: 10vh;
      width: 90vw;

     

      display: flex;
      justify-content: space-around;
      align-items: center;
}


.Header_title:hover{
      font-size: 3.5em;
      animation-duration: 0.3s;
      animation-name: titleTextGrow;
}
@keyframes titleTextGrow {
      from {
            font-size: 3em;
      }
    
      to {
            font-size: 3.5em;
      }
}

.Header_link:hover{
      font-size: 2em;
      animation-duration: 0.3s;
      animation-name: textGrow;
}

    
@keyframes textGrow {
      from {
            font-size: 1.5em;
      }
    
      to {
            font-size: 2em;
      }
}

