.Home {

      width: 60vw;

      margin-bottom: 40vh;

      display: flex;
      flex-direction: column;
      justify-content: center;
      

      
      color: rgb(255, 255, 255);
      font-size: 1.7em;

      
}

.Home_title {
      
      font-size: 2em;
      text-decoration: underline;
      margin-bottom: 2%;
      text-align: center;
}