.Projects {

      width: 60vw;
      margin-bottom: 15vh;
      color: rgb(255, 255, 255);

}


.Projects{
      animation-duration: 2s;
      animation-name: fadeIn;
}

    
@keyframes fadeIn {
      from {
            opacity: 0;
      }
    
      to {
            opacity: 1;
      }
}