.Projects {

      width: 60vw;

      margin-bottom: 40vh;
      

      
      color: rgb(255, 255, 255);
      

}

.Projects_timeline {
      width: 60vw;
      height: 20vh;
      display: flex;
}

.Projects_timeline_link {
      width: 16vw;
      height: 15vh;

      margin-right: 2vw;

      background-color: rgb(255, 255, 255);

      background-image: url("../images/timeline_pic.png");
      background-size:     cover;
      background-repeat:   no-repeat;
      background-position: center center;

      border-radius: 10%;
      border-color: rgb(255, 255, 255);
      border-width: 5px;
      border-style: solid;
}

.Projects_timeline_title {
      font-size: 2em;
      text-decoration: underline;
}

.Projects_timeline_context {
      margin-top: 2vh;
      font-size: 1.2em;
}